h1{
    color:red;
}
ul{
    list-style: square ;
}
#A{
    color:red;
}
#B{
    color:red;
}
#B{
    color: blue;
}
body {
    background-image:linear-gradient(red,orange);
    
    
    
    }
}
    
}
